.page {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 60px;
}
.page li {
    list-style: none;
    border: 1px solid #333;
    padding: 12px 24px;
    border-radius: 10px;
    margin-top: 20px;
}
.page li a {
    text-decoration: none;
}


.max-container .max-and-min {
    width: 50vmax;
    height: 50vmin;
    background-color: rgb(12, 218, 225);
}